/* general settings */
body, html {
min-height: 100%;
}

.hidden {
  display: none;
}

/* Bio Backgrounds */
#danaImg {
  background-image: url(../images/dana_bio_updated.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} 

/* All Bio Settings */

#bio h2 {
  font-family: forma-djr-banner, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.7em;
  color: white;
  margin-left: 3%;
  margin-top: 9%;
}

#bio h3 {
  font-family: forma-djr-banner, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.7em;
  color: #3a061b;
  margin-left: 3%;
  padding-top: 10px;
}

#bio p {
  font-family: forma-djr-banner, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7em;
  color: white;
  margin-left: 4%;
  padding-top: 20px;
  padding-left: 4px;
  width: 480px;
  height: auto;
}

/* Bio controls */
.bio-buttons {
  color: white;
  font-size: 2em;
  position: fixed;
  left: 35%;
  bottom: 5%; 
}

.fas {
  padding: 15px;
  cursor: pointer;
}

.fas:hover {
  color: rgba(255, 255, 255, 1);
}

button {
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 50%;
  align-content: center;
}

button:hover {
  background-color: blue;
}